### **first Session From the session With MR George**
### **the fist session Basic Python**

In [1]:
print('HEllo WOrld')

HEllo WOrld

### **==PUSH==**
#### **GitHub ==> git ==> vsCode**
#### **commit ==> sync ==> GitHub**
#### **Print function**
#### **1.debugging**

In [9]:
print(' My Age is ,24' )
# to make a comment you can press in command+/

 My Age is ,24

N

#### **Main DataTypes**
##### **Built in function like ==> print() && User Defined Function**

## **Comments**
## **Google Style Mood**

In [6]:
# to write a block of comments 

'''

123 and space and enter 

'''

'\n\n123 and space and enter \n\n'

In [10]:
'''

print(5)

'''

'\n\nprint(5)\n\n'

## **variables**

In [20]:
x = 5 
X = "15"
print(hex(id(x)))
print(hex(id(X)))
print(type(x))
print(type(X))

0x104821f90
0x104de42a0
<class 'int'>
<class 'str'>

## **Formate**

In [ ]:
name = ' youssef '
age= input('enter your Age')
courseName = input(str('write your course name'))
print(f'my name is {name},and my age is {age} and the course name is : {courseName}')

my name is  youssef ,and my age is 20 and the course name is : AI & Machine learing

In [ ]:
x = 5 
print (x)
y=20
y
print('George')

5

20

In [1]:
num1 = int(input("enter number one "))
num2 = int(input("enter number two "))
print(num1 + num2)

24